.DS_Store
blog.log
debug.log
*.ai
*.psd
*.eps
*.zip
*.mov
*.mp4
*.3gp
*.swf
*.exe
*.bak
*.LCK
*.doc
*.pdf
*.sql
*_bk*
*.png
_*.html
_*.scss
_*.css
_*.js
_*.php
_*.jpg
_*.jpeg
_*.png
_*.gif
_*.txt
_*.xml
_delete/
__delete/
___delete/
____delete/
_del/
.idea
