<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TEST animation</title>
    <link rel="stylesheet" href="../css/style.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../js/jquery-starfield.min.js"></script>
    <script src="../js/my.js"></script>

</head>
<body>
    <div id="starfield">
        <div class="anim_particle">
            <p>test7</p>
        </div>
    </div>
</body>

</html>