<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TEST Bitbucket</title>
    <link rel="stylesheet" href="../css/style.css">
    <script defer src="../js/my.js"></script>
</head>
<body>

<div class="marquee-wrap">
  <ul class="marquee-list">
    <li class="marquee-item">【12月24日のお天気12月24日のお天気12月24日のお天気12月24日のお天気12月】　大阪府：晴れ
    </li>
    <li class="marquee-item">【12月25日のお天気】　大阪府：曇り
    </li>
    <li class="marquee-item">【12月26日のお天気】　大阪府：雨　/
    </li>
    <li class="marquee-item">【12月27日のお天気】　大阪府：曇り時々雪
    </li>
  </ul>
</div>
    <div id="section_headline_02">
        <div class="inner">
            <h2>NEWS&nbsp;▶</h2>
            <div class="headline">
                <ul>
    <li class="marquee-item">【12月24日のお天気12月24日のお天気12月24日のお天気12月24日のお天気12月24日のお天気12月24日のお天気】　大阪府：晴れ
    </li>
    <li class="marquee-item">【12月25日のお天気】　大阪府：曇り
    </li>
    <li class="marquee-item">【12月26日のお天気】　大阪府：雨　/
    </li>
    <li class="marquee-item">【12月27日のお天気】　大阪府：曇り時々雪
    </li>
                </ul>
            </div>
        </div>
    </div>
    
<div class="container">

<ul class="ul1">
    
    <li>
        <img src="../images/bnr_enquete.png" alt="" width="100%">
        <p class="name">テスト</p>
        <p>スリーサイズ</p>
        <p>時間</p>
        <div class="icon">
            <p><img src="../images/bnr_enquete.png" alt="" width="100%" height="30px"></p>
        </div>
        <div class="txt_box">
            <p>フリーテキスト</p>
            <p>へいへいへい</p>
        </div>
        <button>ボタン</button>
    </li>
    <li>
        <img src="../images/bnr_enquete.png" alt="" width="100%">
        <p class="name">テスト</p>
        <p>スリーサイズ</p>
        <p>時間</p>


        <div class="txt_box">
            <p>フリーテキストフリーテキストフリーテキストフリーテキストフリーテキストフリーテキストフリーテキストフリーテキストフリーテキストフリーテキストフリーテキストフリーテキスト</p>
            <p>へいへいへい</p>
            <p>へいへいへい</p>
            <p>へいへいへい</p>
            <p>へいへいへい</p>
        </div>
        <button>ボタン</button>
    </li>
    <li>
        <img src="../images/bnr_enquete.png" alt="" width="100%">
        <p class="name">テスト</p>
        <p>スリーサイズ</p>
        <p>時間</p>

        <div class="txt_box">
            <p>ああああ</p>
            <p>へいへいへい</p>
            <p>へいへいへい</p>
            <p>へいへいへい</p>
            <p>へいへいへい</p>
        </div>
        <button>ボタン</button>
    </li>
</ul>



<ul class="ul2">
    
    <li>
        <img src="../images/bnr_enquete.png" alt="" width="100%">
        <p class="name">テスト</p>
        <p>スリーサイズ</p>
        <p>時間</p>
        <div class="icon">
            <p><img src="../images/bnr_enquete.png" alt="" width="100%" height="30px"></p>
        </div>
        <div class="txt_box">
            <p>フリーテキスト</p>
            <p>へいへいへい</p>
        </div>
        <button>ボタン</button>
    </li>
    <li>
        <img src="../images/bnr_enquete.png" alt="" width="100%">
        <p class="name">テスト</p>
        <p>スリーサイズ</p>
        <p>時間</p>

        <div class="txt_box">
            <p>フリーテキストフリーテキストフリーテキストフリーテキストフリーテキストフリーテキストフリーテキストフリーテキストフリーテキストフリーテキストフリーテキストフリーテキスト</p>
            <p>へいへいへい</p>
            <p>へいへいへい</p>
            <p>へいへいへい</p>
            <p>へいへいへい</p>
        </div>
        <button>ボタン</button>
    </li>
    <li>
        <img src="../images/bnr_enquete.png" alt="" width="100%">
        <p class="name">テスト</p>
        <p>スリーサイズ</p>
        <p>時間</p>
  
        <div class="txt_box">
            <p>ああああ</p>
            <p>へいへいへい</p>
            <p>へいへいへい</p>
            <p>へいへいへい</p>
            <p>へいへいへい</p>
        </div>
        <button>ボタン</button>
    </li>
</ul>



</div>


</body>

</html>