<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TEST animation</title>
    <link rel="stylesheet" href="../css/style.css">
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../js/jquery-starfield.min.js"></script>
    <script src="../js/my.js"></script>

</head>
<body>
    
    <div class="container_star">
        <div class="box_star">
              <span class="rate rate0"></span>
              <span class="rate rate1"></span>
              <span class="rate rate1_5"></span>
              <span class="rate rate2"></span>
              <span class="rate rate2_5"></span>
              <span class="rate rate3"></span>
              <span class="rate rate3_5"></span>
              <span class="rate rate4"></span>
              <span class="rate rate4_5"></span>
              <span class="rate rate5"></span>
        </div>
    </div>

<input id="slider" max="10" min="0" size="10" step=".5" type="range" value="0">

</body>

</html>