<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="//storage.googleapis.com/vrview/2.0/build/vrview.min.js"></script>
</head>
<body>

<iframe width="600" height="400" src="//storage.googleapis.com/vrview/index.html?image=//pandaweb.jp/test/test/images/vr_image2.jpg"></iframe><br>
ーーーーーーーーーーーー<br>
<div id="vrview"></div>

	<script>
		// eventSample
		// https://magnets.jp/web_design/6614/
	  window.addEventListener('load', onVrViewLoad)
	  function onVrViewLoad() {
	    var vrView = new VRView.Player('#vrview', {
	      image: './images/vr_image2.jpg', //画像を埋め込みたい場合。値にパスを指定。
	      width: '100%', //コンテンツの幅を指定。
	      height: '500px', //コンテンツの高さを指定。
	      is_stereo: false
	    });
	  }
	</script>




</body>
</html>